# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**
+ Python
+ JavaScript
+ R
+ SQL
+ C++

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensorflow

|Data Science Tools|
|------------------|
|Jupyter NoteBook|
|Jupyter Lab|
|Spyder|

### H3 Header
Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
hours="200 minutes"
hours

'200 minutes'

## Author
Baran GÃ¼re